/*algemeen*/

@font-face {
    font-family: "P22 Underground Book";
    src: url("https://use.typekit.net/ebr4koe.css");
}

body {
    background-color: #F8F4E7;
    text-align: center;
    margin: 1px;
}

body.click {
    background:
    linear-gradient(#EA5135 0%, black 90%);
    background-size: 100% 15000%;
    -webkit-filter: invert(1b);
    filter: invert(1);
    height: 10px;
}

/*kopjes*/

h2 {
    font-family: P22 Underground Book;
    color: #EA5235;
    font-size: 2.5vw;
    letter-spacing: 1.6px;
}

#h2_1 {
    position: absolute;
    left: 8vw;
}

#h2_2 {
    float: right;
    margin-left: 67vw;
    position: absolute;
    margin-top: 18%;
}

/*inhoud*/

svg {
    display: block;
    margin: 0 auto;
    width: 80%;
}

img {
    position: absolute;
    width: 20%;
    cursor: pointer;
    top: 29vw;
    right: 16.5vw;
}

/*Animatie pijl*/

svg #pijl:active {
    animation: none;
}

svg #pijl polygon:first-child {
    animation: pijl 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

svg #pijl polygon {
    animation: pijltje 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

svg #pijl polygon:first-child:hover {
    fill: #EA5235;
    transition: 1s;
}

svg #pijl_klein polygon:last-child {
    animation: pijl .5s ease-in-out infinite alternate;
    transform-origin: left;
}

svg #pijl_klein polygon {
    animation: pijltje .5s ease-in-out infinite alternate;
    transform-origin: left;
}

svg #pijl_klein polygon:last-child:hover {
    fill: #EA5235;
}

@keyframes pijl {
    from {
        transform: rotateZ(0deg);
        /*transform: rotateY(0deg);*/
    }
    to {
        transform: rotateZ(-3deg);
    }
}

@keyframes pijltje {
    from {
        transform: rotateZ(0deg);
        /*transform: rotateY(0deg);*/
    }
    to {
        transform: rotateZ(-3deg);
    }
}

/*kleur veranderen pijl*/

#driehoek.yay,
#vierkant1.yay,
#vierkant2.yay,
#vierkant3.yay,
#vierkant4.yay {
    fill: white;
}

/*grote pijl veranderen*/

#rh0.yay,
#rh1.yay,
#rh2.yay,
#rh3.yay,
#rh4.yay,
#rh5.yay,
#rh6.yay,
#rh7.yay,
#rh8.yay,
#rh9.yay {
    fill: white;
}

/*stippel onder*/

body.yay {
    background-color: #1D1D1B;
}

/*meetlint cijfers*/
#nul.yay,
#half1.yay,
#half2.yay,
#half3.yay,
#half4.yay,
#half5.yay,
#half6.yay,
#een1.yay,
#een2.yay,
#een3.yay,
#een4.yay,
#eenhalf1.yay,
#eenhalf2.yay,
#eenhalf3.yay,
#eenhalf4.yay,
#eenhalf5.yay,
#eenhalf6.yay,
#eenhalf7.yay,
#twee1.yay,
#twee2.yay,
#twee3.yay,
#twee4.yay,
#tweehalf1.yay,
#tweehalf2.yay,
#tweehalf3.yay,
#tweehalf4.yay,
#tweehalf5.yay,
#tweehalf6.yay,
#drie1.yay,
#drie2.yay,
#drie3.yay,
#drie4.yay,
#driehalf1.yay,
#driehalf2.yay,
#driehalf3.yay,
#driehalf4.yay,
#driehalf5.yay,
#driehalf6.yay {
    fill: white;
}

#tweehalf7.yay,
#driehalf7.yay{
    stroke: white;
}

/*
#blok1.yay , #blok2.yay , #blok3.yay , #blok4.yay , #blok5.yay{
    fill: white;
}
*/

#meetlint.yay line {
    stroke: white;
}

#meetlint1.yay {
    fill: white;
}

#meetlint line:hover {
    stroke: #EA5135;
}
#meetlint.yay line:hover{
    stroke: ;
}

/*cm*/

#C.yay,
#cM.yay,
#punt.yay,
#punt2.yay {
    fill: white;
}

/*model*/

#M.yay,
#O.yay,
#D.yay,
#E.yay,
#L.yay {
    fill: white;
}

#Z.yay {
    fill: white;
}

/*rotate Z*/

#Z:hover {
    animation: rotate 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


@media only screen and (min-width: 23.4em) {
    svg{
        
    }   
    #h2_1{
        
    }
    #h2_2 {
        
    }
}

@media only screen and (min-width: 48em) {
    svg{
        max-width: 40em;
    }   
    #h2_1{
        
    }
    #weegschaal {
       max-width: 20em;
        right: 16&;
        top: 29%;
    }
}

@media only screen and (min-width: 60em) {
    svg{
        max-width: 40em;
    }   
    #h2_1{
       
    }
    #h2_2 {
        
    }
    #weegschaal {
        max-width: 10em;
        right: 31.5%;
        top: 32%;
    }
}*/